@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');

*{
    font-family: 'MuseoModerno', cursive;
    margin:0px;
    padding:0px;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
    box-sizing:border-box;
    background-color:azure;
}

.navbar ul li a,navbar ul li a:hover{
    background-color:burlywood;
    color:black!important;
    padding:7px 15px;
    margin: 0px 15px;
}
.main{
    background:url("../images/road.jpg");
    height:100vh;
}